*,
::before,
::after {
  box-sizing: inherit;
  vertical-align: inherit;
  border-width: 0;
  border-style: solid;
  backface-visibility: hidden;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;  /*  Set the font size to base of 10. 1.6rem = 16px. No more math needed.  */
  line-height: 1.5;  /*  Set line height to 1.5 which works nicely with most font sizes  */
  
  box-sizing: border-box;
  vertical-align: baseline;

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-x: clip;

  hyphens: auto;
	hyphenate-limit-chars:auto 3; 

  scrollbar-gutter: stable;
	overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  text-rendering: optimizeLegibility;

    /* Prevent overflow caused by long words if all other methods fail */
    overflow-wrap: break-word;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-size: 1.6rem;
  font-family: sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#🤑 {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
	max-width: 100%;
}